@import "./colors.css";

.navbar {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--footer-white);
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}

.navbar-body {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-left: 20px;
}

.navbar-links {
    width: 50%;
}

.links-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-body-logo {
    width: auto;
}

.navbar-body-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.company-logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.company-name {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.company-slogan {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

@media(max-width: 760px){
    .navbar-wrapper {
        display: flex;
        flex-direction: column;
    }

    .navbar-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .navbar-links{
        width: 100%;
        margin-top: 10px;
    }
    .company-logo {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .company-name {
        font-size: 30px;
        font-weight: 600;
    }

    .comapny-slogan {
        font-size: 15px;
        font-weight: 400;
    }
}